@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Yeasin Arafat<br />
    Rangunia, Chittagong<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:yeasinarafat10@gmail.com">Send Mail</a><br />
</address>