@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<h4>
    <address>
        <b>Yeasin Arafat</b><br />
        Rangunia, Chittagong<br />
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:">yeasinarafat10@gmail.com</a><br />
    </address>
</h4>