
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nuget App</h1>
    <p class="lead">This is a nuget like app where you can upload, download packages.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Register to upload package and be one of the contributors.
        </p>
        <p><a class="btn btn-default" href="~/Account/Login">Login &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="~/Package/Index">Packages &raquo;</a></p>
    </div>
</div>