<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>




@*<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/">
                        <img class="navbar-logo" width="94" height="29" alt="NuGet home" src="/Content/gallery/img/logo-header.svg" onerror="this.src='https://www.nuget.org/Content/gallery/img/logo-header-94x29.png'; this.onerror = null;">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" role="tablist">
                        <li class="active" role="presentation">
                            <a role="tab" aria-selected="false" href="/packages">
                                <span>Packages</span>
                            </a>
                        </li>

                        <li class="" role="presentation">
                            <a role="tab" aria-selected="false" href="/packages/manage/upload">
                                <span>Upload</span>
                            </a>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right" role="tablist">
                        <li class="" role="presentation">
                            <a role="tab" aria-selected="false" href="/users/account/LogOn?returnUrl=%2Fpackages%2FMicrosoft.Extensions.Logging%2F" title="Sign in to an existing NuGet.org account">
                                <span>Sign in</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container search-container">
        <div class="row">
            <form aria-label="Package search bar" class="col-sm-12" action="/packages" method="get">
                <div class="input-group">
                    <input name="q" type="text" class="form-control" id="search" aria-label="Enter packages to search" placeholder="Search for packages..." autocomplete="off" value="">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-warning btn-search" type="submit" title="Search for packages" aria-label="Search">
                            <span class="ms-Icon ms-Icon--Search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
                <div id="autocomplete-results-container" class="text-left" tabindex="0"></div>

                

            </form>
        </div>
    </div>
</nav>*@